@media only screen and (max-width: 600px) {
    .content-selection {
        height: 300vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .parallax-item {
        display: none;
    }
    
    .category {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    .projects {
        background: linear-gradient(var(--primary-colour) 1%, rgba(14, 14, 26, 0.9) 50%, var(--primary-colour) 70%), url(../Images/main_image_part_1.jpg);
    }

    .laboratory {
        background: linear-gradient(var(--primary-colour) 1%, rgba(14, 14, 26, 0.9) 50%, var(--primary-colour) 70%), url(../Images/main_image_part_2.jpg);
    }

    .resume {
        background: linear-gradient(var(--primary-colour) 1%, rgba(14, 14, 26, 0.9) 50%, var(--primary-colour) 70%), url(../Images/main_image_part_3.jpg);
    }

    .category-title {
        pointer-events: auto;
        color: var(--primary-text-colour);
    }
    
    .category-title a{
        color: var(--primary-text-colour);
        text-decoration: none;
    }

    .title-underline {
        border: hidden;
        border-radius: 10%;
        height: 5px;
        background: linear-gradient(to right, var(--tertiary-colour), var(--quaternary-colour));
    }

    .cursor {
        display: none;
    }

    .cursor-circle {
        display: none;
    }
    
}

@media only screen and (min-width: 600px) {
    .content-selection {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        background-image: url('../Images/main_image_full.jpg');
        background-size: cover;
        overflow: hidden;
        position: fixed;
        transition: 1s;
    }
    
    .parallax-item {
        display: inline-flex;
        position: absolute;
        top: 0;
        left: -1rem;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
    .category {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
        background-color: var(--primary-colour);
        box-shadow: inset 0 0 50px 5px hsl(240, 29%, 8%);
    }
    
    /* On category child hover. */
    .category:hover {
        background-color: hsla(240, 30%, 8%, 0.5);
    }
    
    /* On laboratory child hover. */
    .laboratory:hover .left
     {
        transition: 0.25s;
        opacity: 0;
    }

    /* On laboratory child hover. */
    .laboratory:hover .description
     {
        transition: 0.25s;
        opacity: 0;
    }
    
    /* On projects child hover. */
    .projects:hover .middle{
        transition: 0.25s;
        opacity: 0;
    }

    /* On projects child hover. */
    .projects:hover .description{
        transition: 0.25s;
        opacity: 0;
    }
    
    /* On resume child hover. */
    .resume:hover .right {
        transition: 0.25s;
        opacity: 0;
    }

    /* On resume child hover. */
    .resume:hover .description {
        transition: 0.25s;
        opacity: 0;
    }
    
    .lane {
        transition: opacity 5s;
    }
    
    .category-title {
        pointer-events: auto;
        color: var(--primary-text-colour);
        text-transform: uppercase;
        letter-spacing: 0.20rem;
        font-size: 1.2rem;
    }
    
    .category-title a{
        color: var(--primary-text-colour);
        text-decoration: none;
    }
    
    .category-title:hover .title-underline {
        transform: scale(1, 1);
        transition: transform 0.5s ease;
    }
    
    .title-underline {
        border: hidden;
        border-radius: 10%;
        height: 5px;
        width: calc(100% - 3px);
        background: linear-gradient(to right, var(--tertiary-colour), var(--quaternary-colour));
        transform: scale(0, 1);
        transform-origin: 0% 100%;
        transition: transform 0.7s ease;
    }

    .description {
        font-weight: 600;
        font-size: 16px;
        color: var(--secondary-text-colour);
        transition: 0.9s;
    }
  }