@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

:root {
    --primary-colour: hsl(240, 29%, 8%);
    --secondary-colour: hsl(245, 29%, 9%);
    --tertiary-colour: hsl(244, 79%, 35%);
    --quaternary-colour: hsl(283, 79%, 35%);
    --primary-text-colour: hsla(0, 0%, 100%, 0.75);
    --secondary-text-colour: hsl(243, 32%, 14%);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Chivo', sans-serif;
}

body {
    overflow: hidden;
}

/* .preloader {
    background-color: var(--primary-colour);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
} */

@media only screen and (min-width: 600px) {
    * {
        cursor: none;
    }
    
    .cursor {
        z-index: 1;
        display: hidden;
        width: 10px;
        height: 10px;
        background-color: hsla(0, 0%, 100%, 0.75);
        border-radius: 50%;
        position: absolute;
        pointer-events: none;
        mix-blend-mode: difference;
    }
    
    .cursor-circle {
        z-index: 1;
        width: 20px;
        height: 20px;
        border: 1px solid hsla(0, 0%, 90%, 0.10);
        border-radius: 50%;
        position: absolute;
        pointer-events: none;
        transition: 200ms;
        transition-timing-function: ease-out;
    }

    header {
        z-index: 1;
        height: 10vh;
        width: 100vw;
        position: fixed;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    .brand {
        text-transform: uppercase;
        letter-spacing: 0.20rem;
        font-size: 0.9rem;
        padding-left: 1.2rem;
        font-weight: 600;
    }

    .brand a {
        color: var(--primary-text-colour);
        text-decoration: none;
    }

    .navigation-items {
        list-style: none;
    }
    
    .navigation-items .navigation-item {
        display: inline-block;
        padding: 0 1.2rem;
        font-size: 1.5rem;
        transition: 1s;
    }
    
    .navigation-items .navigation-item a {
        transition: 1s;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 1.5rem;
        text-decoration: none;
    }

    .navigation-item:hover{
        transform: scale(1.05);
    }
    
    .navigation-items .navigation-item a:hover {
        color: white;
    }

    .contact-slider {
        border: 0;
        background: transparent;
        transition: 0.5s;
        font-size: 1.5rem;
        color: hsla(0, 0%, 100%, 0.75);
    }

    .contact-slider:hover {
        color: white;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 2rem;
    }

    .copyright-notice {
        color: hsla(0, 0%, 100%, 0.459);
        padding-left: 1.2rem;
        font-size: 0.7rem;
    }
}